{% extends 'base.html.twig' %}

{% block title %}
  Inscription à la newsletter
{% endblock %}

{% block body %}
  <h1 class="text-4xl text-center">Merci pour votre inscription à la newsletter</h1>

 
{% endblock %}