{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>
    <div class="flex items-center justify-center">
        <div class="w-1/2  bg-gray-400 rounded-lg p-4 shadow">
            {{ include('profile/_form.html.twig') }}
        </div>
    </div>    
{% endblock %}
