{% extends 'base.html.twig' %}

{% block body %}
<div class="flex items-center justify-center p-4 ">
    <div class="bg-gray-300 rounded-lg p-4 shadow">
    <h1 class="text-red-500 bg-gray-300 rounded-lg p-4 shadow">Le lien de réinitialisation de votre mots de passe vous à été envoyé pas email</h1>
    <div class="bg-blue-500 p-2">
    <a href="{{ path('app_change_password', {id: id} )}}">(Pour la simulation) Cliquez sur ce lien pour être rediriger sur le formulaire du nouveau mots de passe</a>
    </div>
    </div>
    </div>
{% endblock %}
