
{% extends 'base.html.twig' %}

{% block body %}
<div class="flex items-center justify-center p-4 ">
    <div class="w-1/2  bg-gray-300 rounded-lg p-4 shadow">
    <h1>réinitialisation mots de passe</h1>

    {{ form_start(resetPasswordForm) }}
        {{ form_row(resetPasswordForm.email) }}                
        {{ form_row(resetPasswordForm.submit, {'attr': {'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold m-4 py-2 px-4 rounded'}}) }}
    {{ form_end(resetPasswordForm) }}
    
    </div>
    </div>
{% endblock %}
