{% extends 'base.html.twig' %}

{% block title %}DBZ{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center ">
<div class="flex flex-col items-center justify-center bg-gray-100 rounded-md">
    <h1 class="text-4xl text-gray-800 px-4 py-2 ">
    Bienvenue sur DBZ.com !
    </h1>
    <h2 class="text-4xl text-gray-800  px-4 py-2 ">
    {% if app.user  is not null %}        
    {{ user.email }}
    {% endif %}
    </h1>
    </h2>
</div>
</div>
{% endblock %}
