@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: darkgrey;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* Custom class for form background */
.bg-form {
    background-color: darkgrey;
}