@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: skyblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/local/dragon-ball-z.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Open Sans', sans-serif;
}