{% extends 'base.html.twig' %}

{% block title %}
  Votre message à bien été envoyés.
{% endblock %}

{% block body %}
  <h1 class="text-4xl text-center"> Votre message à bien été envoyés.</h1>
   
{% endblock %}
